body{
  margin: 5em;
}

header{
  border-bottom-style: solid;
  border-bottom-width: 3px;
}

a{
  font-weight: bold;
  text-decoration: None;
}

ul{  
  padding: 0;
}

li{
  margin-right: 2em;
  margin-top: 1em;
  list-style-type: None;
}

main{
  padding-top: 2em;
}

article{
  margin-right: 20%;
}

footer{
  padding-top: 1em;
  border-top-style: solid;
  border-top-width: 5px;
}

footer > p{
  margin: 0;
}

footer * img{
  height: 1em;
}

h1{
  font-size: 500%;
  border-bottom-style: solid;
  border-bottom-width: 10px;
}

h1>span{
  display: block;
  font-style: italic;
  color: grey;
}
